.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.space
.stfolder/
.trash
.makemd

*.kra
*.canvas

# Temporal drafts, exclude or include from the config as well.
1-TheFoundations/
2-CountingNumbers/
3-StructuringNumbers/
4-GoingBeyond/
5-BeyondUniverse/
