# Default Quartz

.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# MaaC Exclusive
*.space
*.canvas
*.stfolder
*.kra

# Drafts
1-TheFoundations/
2-CountingNumbers/
3-StructuringNumbers/
4-GoingBeyond/
5-BeyondUniverse/
